.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contactTable {
  width: 80%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.legislationTable {
  width: 80%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  width: 100%;
  background-color: #060F60;
  color: #F0F0F0;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
}

.helpBar {
  padding: 15px;
  text-align: left;
}